*{
    margin: 0px; padding: 0px;
}
header{
    background-color: aqua;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

}
    h1{
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
nav{
    background-color: burlywood;
    height:105%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    flex-wrap: wrap;
}
img{
    width: auto;
    height: auto;

}
main{    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
}
footer{
    background-color: coral;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
div{
    border: 2px solid crimson;
    margin: 5px;


}
h2{
    margin-left: 20px;
    text-align: center;
}
p{
    margin-left: 20px;
}
button{
    color: aliceblue;
}